Legat Stefan <stefan.l2k2@gmail.com>   <stlegat@edu.aau.at>
Beißwänger Sonja  <sonjabei@edu.aau.at>
Aleksowska Anja <anjaal@edu.aau.at>
Cekic Aldin <aldince@edu.aau.at>
Hobel Nicolas <nihobel@edu.aau.at>
Sulzer Josef <j1sulzer@edu.aau.at>
Manuel Kotzent <mankotzent@edu.aau.at>